@model UpdateCargoCompanyDto

@{
    ViewData["Title"] = "UpdateCompany";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">

            <form method="post">
                <input type="hidden" asp-for="CargoCompanyID" />
                <label>Cargo Company Name</label>
                <input type="text" asp-for="CargoCompanyName" class="form-control" />
                <br>
                <button class="btn btn-outline btn-rounded btn-primary"><i class="fa fa-pencil"></i> Update</button>
                <a href="/Admin/CargoCompany/Index" class="btn btn-outline btn-rounded btn-danger">Cancel</a>

            </form>
        </div>
    </div>
</div>

