@model RegisterDto

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MultiShop Register</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://cdni.iconscout.com/illustration/premium/thumb/registration-page-illustration-download-in-svg-png-gif-file-formats--word-logo-hello-user-account-setup-new-sign-up-welcome-greetings-pack-people-illustrations-8111289.png" rel="icon">

	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/fonts/line-awesome/css/line-awesome.min.css">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/colorlib-regform-30/css/style.css" />
</head>
<body class="form-v4">
	<div class="page-content">
		<div class="form-v4-content">
			<div class="form-left">
				<h2>MultiShop ECommerce</h2>
				<p class="text-1">Register in 1 minute to carry out e-commerce transactions through our MultiShop project and be informed about discounted products and opportunities.</p>
				<div class="form-left-last">
					<a href="/Login/Index/" class="button" style="text-decoration:none;color:white;" >Do you have an account ? Sign In</a>
				</div>
			</div>
			<form class="form-detail" method="post" >
				<h2>MultiShop Register Form</h2>
				<div class="form-group">
					<div class="form-row form-row-1">
						<label for="first_name">First Name</label>
						<input type="text" asp-for="Name"  class="input-text">
					</div>
					<div class="form-row form-row-1">
						<label for="last_name">Last Name</label>
						<input type="text"asp-for="Surname"  class="input-text">
					</div>
				</div>
				<div class="form-row">
					<label for="your_email">Your Email</label>
					<input type="text" asp-for="Email" class="input-text" required pattern="[^@@]+@@[^@@]+.[a-zA-Z]{2,6}" >
				</div>
				<div class="form-row form-row-1">
					<label for="username">Username</label>
					<input type="text" asp-for="UserName" class="input-text">
				</div>
				<div class="form-group">
					<div class="form-row form-row-1 ">
						<label for="password">Password</label>
						<input type="password" asp-for="Password" class="input-text" required>
					</div>
					<div class="form-row form-row-1">
						<label for="comfirm-password">Comfirm Password</label>
						<input type="password" asp-for="ConfirmPassword" class="input-text" required>
					</div>
				</div>
				<div class="form-checkbox">
					<label class="container">
						<p>I have read the user agreement <a href="#" class="text">I agree.</a></p>
						<input type="checkbox" name="checkbox">
						<span class="checkmark"></span>
					</label>
				</div>
				<p class="text-danger">@Html.ValidationSummary()</p>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

