@model UpdateProductImageDto    

@{
    ViewData["Title"] = "UpdateProductImage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Update Product Image</h4>
                <form method="post" asp-controller="ProductImage" asp-action="UpdateProductImage" asp-area="Admin">

                    <input type="hidden" asp-for="ProductImageID" />

                    <input type="hidden" asp-for="ProductId" />
                     
                    <select class="form-control" style="padding:0;" asp-for="ProductId">
                        
                        <option value="0">Select Product</option>
                            
                        @foreach (var item in ViewBag.ProductList)
                             
                        {
                          <option value="@item.Value">@item.Text</option>
                          
                        }
                         
                    </select>
                       <br />
                       
                    <input class="form-control" asp-for="ImageUrl" type="text"/>
                     <br />
                   <button class ="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>

    </div>
</section>
